@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("./fonts/Roboto-Light/Roboto-Light.otf") format("otf"),
    url("./fonts/Roboto-Light/Roboto-Light.ttf") format("ttf"),
    url("./fonts/Roboto-Light/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("./fonts/Roboto-Medium/Roboto-Medium.otf") format("otf"),
    url("./fonts/Roboto-Medium/Roboto-Medium.ttf") format("ttf"),
    url("./fonts/Roboto-Medium/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular/Roboto-Regular.otf") format("otf"),
    url("./fonts/Roboto-Regular/Roboto-Regular.ttf") format("ttf"),
    url("./fonts/Roboto-Regular/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Rufina-Bold";
  src: local("Rufina-Bold"),
    url("./fonts/Rufina-Bold/Rufina-Bold.otf") format("otf"),
    url("./fonts/Rufina-Bold/Rufina-Bold.ttf") format("ttf"),
    url("./fonts/Rufina-Bold/Rufina-Bold.woff") format("woff");
}

@font-face {
  font-family: "Rufina-Regular";
  src: local("Rufina-Regular"),
    url("./fonts/Rufina-Regular/Rufina-Regular.otf") format("otf"),
    url("./fonts/Rufina-Regular/Rufina-Regular.ttf") format("ttf"),
    url("./fonts/Rufina-Regular/Rufina-Regular.woff") format("woff");
}